.Rproj.user
.Rhistory
.RData
.Ruserdata
data/
.vscode/
.DS_Store
# Ignore cleaned confidential data
/data/bids_clean.rds
/data/bids_clean.parquet
.lintr
Lab_Coding.html
logs/
FINAL_PROJECT/zips_zcta.parquet
data/zips_zcta.parquet
data/zips_zcta_oregon.parquet
